@use '../variables' as *;

/* assets/scss/sections/_cta-test-banner.scss */

.cta-test__cover {
  border-radius: 24px;
  overflow: hidden;
  background-color: #0033ff; // синий фон по макету
  align-items: center;
  min-height: 545px;
}

/* фон-рисунок можно будет потом заменить на svg */
.cta-test__cover .wp-block-cover__background {
  background: radial-gradient(circle at 15% 120%, #5c6bff 0, transparent 55%),
  radial-gradient(circle at 95% 0, #5c6bff 0, transparent 55%),
  radial-gradient(circle at 70% 90%, #5c6bff 0, transparent 55%),
  #0033ff;
}

.cta-test__cover .wp-block-cover__inner-container {
  position: absolute;
  bottom: 55px;
  left: 55px;
}

/* Текст */
.cta-test__title {
  margin: 0 0 24px;
  font-weight: 800;
  font-size: clamp(26px, 3vw, 36px);
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff;
}

/* Кнопка */

.cta-test__btn .wp-block-button__link {
  background-color: #ff9f1c;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  padding: 14px 40px;
  border-radius: 8px;
  border: none;
}

.cta-test__btn .wp-block-button__link:hover {
  background-color: #ffb73f;
}
