/* ===== Глобальные стили ===== */

/* Normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'ProximaNova', Arial, sans-serif!important;
  color: #000;
  background: #ECECEC;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

figure {margin-bottom: 0!important;}

/* Контейнер */
.container {
  max-width: 1360px;
  margin: 0 auto;
}

/* Скрытие */
.hidden {
  display: none !important;
}

/* Кнопки */
.button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s;
}

.black-button {
  background: #000;
  color: #fff;
}

.white-button {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

/* Breadcrumbs */
.breadcrumbs {
  font-size: 14px;
  margin: 15px 0 30px 0;
}

.breadcrumbs a {
  color: #000;
}

/* Общий стиль для блоков */
section {
  background-color: #eee;
}

/* Глобальный стиль для прокрутки */
* {
  scrollbar-width: thin; // Firefox
  scrollbar-color: #ccc transparent; // Firefox
}

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}


html, body {
  height: 100%;
  margin: 0;
}
