@use '../variables' as *;

/* Заголовки */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 20px;
  line-height: 1.2;
  color: #000000;
}

h2 {
  max-width: $container;
  color: #000000;
  font-size: 50px;
  line-height: 78px;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.lead{font-size:clamp(18px,1.4vw,20px); color:var(--c-text);}

p.muted, .muted{color:var(--c-muted);}
